<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/font.css">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <title>آموزش آنلاین</title>
  <script src="../static/js/js.js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">
</head>


<body style="direction: rtl">

<header class="shadow">

  <div class="img-header">
    <img src="../static/img/header.png">
  </div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container">
      <a class="navbar-brand" href="index.html">صفحه اصلی</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="degrees.html">مقاطع</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link active " aria-current="page" href="gallery.html">گالری</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="files.html">فایل ها</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="about_us.html">درباره ما</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="question.html">سوالات متداول</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">جستجو</button>
          <button class="btn btn-outline-primary btn_login" type="button"
                  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">ورود
          </button>
        </form>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true" style="border-radius: 15px">
          <div class="modal-dialog" style="border-radius: 15px">
            <div class="modal-content" style="border-radius: 15px">
              <h1 class="modal-title fs-5 title_login" id="exampleModalLabel"> ورود کاربران</h1>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label lable_name">شماره موبایل یا
                      نام کاربری خود را وارد کنید</label>
                    <input type="text" class="form-control text_name" id="recipient-name">
                  </div>
                  <div class="mb-3 justify-content-center align-items-center">
                    <label for="message-text" class="col-form-label lable_pass">رمز عبور خود را وارد
                      کنید</label>
                    <input type="text" class="form-control text_pass" id="message-text">
                    <button type="button" class="btn btn-secondary btn_login1"
                            data-bs-dismiss="modal">ورود کاربر
                    </button>
                    <button type="button" class="btn btn-primary btn_sign">ثبت نام</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </nav>
</header>


<div class="container ">
  <div class="mt-4">
    <a href="index.html" style="color: #002e77;" class="text-decoration-none">صفحه اصلی </a> »
    دوره های مجازی
    <br />
    <br />
  </div>
</div>
<section>
  <hr>
  <hr>
  <div class="container">
    <div class="l-on row">
      <div class="col-md-6">
        <div class="l-online"> دوره های آموزشی</div>
        <a href="https://qom.tvu.ac.ir/fa/594964/%D8%A8%D8%B1%DA%AF%D8%B2%D8%A7%D8%B1%DB%8C-%D8%AF%D9%88%D8%B1%D9%87-%D8%A2%D9%85%D9%88%D8%B2%D8%B4%DB%8C-%D9%81%D8%AA%D9%88%D8%B4%D8%A7%D9%BE-%D9%BE%DB%8C%D8%B4%D8%B1%D9%81%D8%AA%D9%87">برگزاری دوره آموزشی فتوشاپ پیشرفته</a>
        <a href="https://qom.tvu.ac.ir/fa/587429/%D8%A8%D8%B1%DA%AF%D8%B2%D8%A7%D8%B1%DB%8C-%D8%AF%D9%88%D8%B1%D9%87-%D8%A2%D9%85%D9%88%D8%B2%D8%B4%DB%8C-%EF%BF%BD%D9%86%D8%B1%D9%85-%D8%A7%D9%81%D8%B2%D8%A7%D8%B1-%D9%87%D9%84%D9%88">برگزاری دوره آموزشی  نرم افزار هلو</a>
        <a href="../static/download/at.pdf">آموزش کلاس آنلاین در سامانه سمیاد</a>

      </div>

      <div class="col-md-6 ">
        <div class="l-online">وبینارها</div>
        <a href="https://qom.tvu.ac.ir/fa/554911/%D9%88%D8%A8%DB%8C%D9%86%D8%A7%D8%B1-%22%D9%87%D9%86%D8%B1-%D8%A2%D8%BA%D8%A7%D8%B2-%D9%85%D8%B3%DB%8C%D8%B1-%D8%B4%D8%BA%D9%84%DB%8C-%DA%A9%D8%A7%D8%B1%D8%A2%D9%81%D8%B1%DB%8C%D9%86%D8%A7%D9%86%D9%87-(%DA%86%D8%B7%D9%88%D8%B1-%D9%86%D8%A7%D8%A8%D8%BA%D9%87-%D8%B2%D9%86%D8%AF%DA%AF%DB%8C-%D9%88-%DA%A9%D8%A7%D8%B1-%D8%AE%D9%88%D8%AF-%D8%A8%D8%A7%D8%B4%DB%8C%D9%85)%22">وبینار "هنر آغاز مسیر شغلی کارآفرینانه (چطور نابغه زندگی و کار خود باشیم)"</a>
        <a href="www.aparat.com/v/zuWPi">لینک ‌وبینار آموزش ‌جامع سمیاد</a>
        <a href="webinar.html">فهرست وبینارهای برگزار شده در هفته پژوهش</a>
      </div>
    </div>
  </div>
  <hr>
  <hr>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-12 line">
        <a href="" class="font_foter">خدمات الکترونیکی</a>
        <hr>
        <a class="link_footer" href="">سیستم اتوماسیون اداری</a>
        <br>
        <a class="link_footer" href="">سامانه نهاد رهبری</a>
        <br>
        <a class="link_footer" href="https://bustan.tvu.ac.ir/">سامانه بوستان</a>
        <br>
        <a class="link_footer" href="">سامانه رفاه</a>
        <br>
        <a class="link_footer" href="">سامانه تغذیه</a>
        <br>
        <a class="link_footer" href="">سامانه ملی کارآموزی</a>
        <br>
        <a class="link_footer" href="">سامانه آموزش مجازی</a>
      </div>
      <div class="col-lg-3 col-sm-12 line">
        <a href="" class="font_foter">دسترسی سریع</a>
        <hr>
        <a class="link_footer" href="">استعلام سوابق بیمه</a>
        <br>
        <a class="link_footer" href="">اطلاعیه وام دانشجویی</a>
        <br>
        <a class="link_footer" href="">برگزاری دوره آموزشی</a>
        <br>
        <a class="link_footer" href="">تقاضای معرفی به استاد</a>
        <br>
        <a class="link_footer" href="">برنامه امتحانات</a>
      </div>
      <div class="col-lg-3 col-sm-12 line">
        <a href="" class="font_foter">سایت های مرتبط</a>
        <hr>
        <a class="link_footer" href="">دانشگاه فنی و حرفه ای</a>
        <br>
        <a class="link_footer" href="">پایگاه اطلاع رسانی دولت</a>
        <br>
        <a class="link_footer" href="">وزارت صنعت،معدن،تجارت</a>
        <br>
        <a class="link_footer" href="">وزارت علوم،تحقیقات،فناوری</a>
        <br>
        <a class="link_footer" href="">میز خدمت</a>
      </div>
      <div class="col-lg-3 col-sm-12">
        <p class="font_foter">اطلاعات تماس</p>
        <hr>
        <p class="p_footer">نشانی:قم-شهرک قدس<br> ولیعصر13-کوچه هدایت 13</p>
        <p class="p_footer">کد پستی:1891862827</p>
        <p class="p_footer">تلفن:02532855375</p>
        <p class="p_footer">نمابر:02532855244</p>
      </div>
    </div>
  </div>
</section>
</body>
</html>