<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/font.css">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <title>سوالات متداول</title>
  <script src="../static/js/js.js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">
</head>
<body>
<header class="shadow">

  <div class="img-header">
    <img src="../static/img/header.png">
  </div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container">
      <a class="navbar-brand" href="index.html">صفحه اصلی</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="degrees.html">مقاطع</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="gallery.html">گالری</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="files.html">فایل ها</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="about_us.html">درباره ما</a>
          </li>
          <li class="nav-item">
            <a  style="color: white" class="nav-link active nav_active" aria-current="page" href="question.html">سوالات متداول</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">جستجو</button>
          <button class="btn btn-outline-primary btn_login" type="button"
                  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">ورود
          </button>
        </form>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true" style="border-radius: 15px">
          <div class="modal-dialog" style="border-radius: 15px">
            <div class="modal-content" style="border-radius: 15px">
              <h1 class="modal-title fs-5 title_login" id="exampleModalLabel"> ورود کاربران</h1>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label lable_name">شماره موبایل یا
                      نام کاربری خود را وارد کنید</label>
                    <input type="text" class="form-control text_name" id="recipient-name">
                  </div>
                  <div class="mb-3 justify-content-center align-items-center">
                    <label for="message-text" class="col-form-label lable_pass">رمز عبور خود را وارد
                      کنید</label>
                    <input type="text" class="form-control text_pass" id="message-text">
                    <button type="button" class="btn btn-secondary btn_login1"
                            data-bs-dismiss="modal">ورود کاربر
                    </button>
                    <button type="button" class="btn btn-primary btn_sign">ثبت نام</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </nav>
</header>

<div class="container ">
  <div class="mt-4">
    <a href="index.html" style="color: #002e77;" class="text-decoration-none">صفحه اصلی </a> »
    سوالات متداول
    <br />
    <br />
  </div>
</div>
<div class="question">سوالات مربوط به امور خوابگاه</div>
<div style="text-align: center" class="dropdown col-lg-12 mt-3 ">
  <button class=" col-lg-12 mt-3 btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    نحوه پرداخت اجاره بهای هر نیمسال چگونه است؟
  </button>
  <ul style="text-align: center" class="dropdown-menu col-lg-12">
    <li> پرداخت اجاره بهای خوابگاه هر ترم دانشجویان در خوابگاه های ملکی دانشگاه از طریق مراجعه به پورتال دانشجویی صندوق رفاه دانشجویان یا دریافت فیش اجاره خوابگاه از اداره اموردانشجویی دانشکده/آموزشکده امکان پذیر می باشد.</li>
  </ul>
</div>
<div style="text-align: center" class="dropdown col-lg-12 mt-3 ">
          <button class=" col-lg-12 mt-3 btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            کدام دانشجویان مجاز به استفاده از خوابگاه هستند؟
          </button>
          <ul style="text-align: center" class="dropdown-menu col-lg-12">
            <li>دانشجویان روزانه که در سنوات مجاز هستند و در استان­هایی غیر از استان محل تحصیل زندگی می کنند در صورت احراز شرایط و ثبت نام آموزشی میتوانند از خوابگاه استفاده نمایند.</li>
          </ul>
        </div>
<div style="text-align: center" class="dropdown col-lg-12 mt-3 ">
  <button class=" col-lg-12 mt-3 btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    دانشجویان چند ترم میتوانند از خوابگاه استفاده نمایند؟
  </button>
  <ul style="text-align: center" class="dropdown-menu col-lg-12">
    <li> دانشجویان واجد شرایط با توجه به امکانات و تعداد متقاضیان میتوانند از تاریخ شروع به تحصیل به شرح زیر از خوابگاه های دانشجویی برخوردار شوند :</li>
    <br>
    <li>دانشجویان پسر دوره های کاردانی و کارشناسی ناپیوسته حداقل2 نیمسال</li>
    <br>
    <li>دانشجویان دختر دوره های کاردانی و کارشناسی ناپیوسته 4 نیمسال</li>
    <br>
    <li>دانشجویان پسر دوره کارشناسی پیوسته حداکثر 6 نیمسال</li>
    <br>
    <li>دانشجویان دختر دوره کارشناسی پیوسته 8 نیمسال</li>
  </ul>
</div>
<div style="text-align: center" class="dropdown col-lg-12 mt-3 ">
  <button class=" col-lg-12 mt-3 btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    چگونه می توان از تخفیف اجاره بهای خوابگاه استفاده کرد؟
  </button>
  <ul style="text-align: center" class="dropdown-menu col-lg-12">
    <li>دانشجویان روزانه غیر بومی که در سنوات مجاز استفاده از خوابگاه می­باشند چنانچه قبل از ورود به خوابگاه ،اجاره نقدی خوابگاه  را پرداخت نمایند مشمول تخفیف اجاره بهای خوابگاه می گردند.</li>
  </ul>
</div>
<div style="text-align: center" class="dropdown col-lg-12 mt-3 ">
  <button class=" col-lg-12 mt-3 btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    برای اسکان در خوابگاه چه وسایلی باید همراه دانشجو باشد؟
  </button>
  <ul style="text-align: center" class="dropdown-menu col-lg-12">
    <li> یک دانشجو لازم است تمامی وسایل شخصی و ضروری از جمله وسایل خواب (تشک- بالشت- پتو- ملحفه) و آشپزی را در خوابگاه همراه داشته باشد.</li>
  </ul>
</div>

<div class="question mt-5">سوالات مربوط به سامانه تغذیه</div>
<div style="text-align: center" class="dropdown col-lg-12 mt-3 ">
  <button class=" col-lg-12 mt-3 btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    برای دریافت کد QR چه مراحلی باید انجام شود؟
  </button>
  <ul style="text-align: center" class="dropdown-menu col-lg-12">
    <li>ورود به آدرس samad.app،"نام دانشگاه" = دانشگاه فنی و حرفه ای، "نام کاربری"= کد دانشجویی،"رمز ورود"= کد ملی،از قسمت "تغذیه" نام غذای رزرو شده قابل مشاهده است،از قسمت بالای نام غذا، دریافت کد فراموشی،گزینه "دریافت کد" را کلیک کرده و کد QR تشکیل می شود.</li>
  </ul>
</div>
<div style="text-align: center" class="dropdown col-lg-12 mt-3 ">
  <button class=" col-lg-12 mt-3 btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    افزایش اعتبار با گوشی همراه امکان پذیر است؟
  </button>
  <ul style="text-align: center" class="dropdown-menu col-lg-12">
    <li>افزایش اعتبار صرفا با سیستم و مرورگر فایرفاکس(به روز رسانی شده)به راحتی قابل انجام است.</li>
  </ul>
</div>
<div style="text-align: center" class="dropdown col-lg-12 mt-3 ">
  <button class=" col-lg-12 mt-3 btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    رمز دوم چگونه تعیین می شود؟
  </button>
  <ul style="text-align: center" class="dropdown-menu col-lg-12">
    <li>از طریق سامانه saba.tvu.ac.ir، منوی "سامانه تغذیه"، "عملیات کاربر سامانه"، "تغییر رمز دوم"، یک کد 4 الی 8 رقمی می توانید تعیین کنید.</li>
    <br>
    <li>برای دریافت غذا از طریق دریافت با رمز دوم 1- ورورد کد دانشجویی در قسمت کد دانشجو 2- ورود رمز دوم که در سامانه تعیین شده3- گزینه "تایید"</li>
  </ul>
</div>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-12 line">
        <a href="" class="font_foter">خدمات الکترونیکی</a>
        <hr>
        <a class="link_footer" href="">سیستم اتوماسیون اداری</a>
        <br>
        <a class="link_footer" href="">سامانه نهاد رهبری</a>
        <br>
        <a class="link_footer" href="">سامانه بوستان</a>
        <br>
        <a class="link_footer" href="">سامانه رفاه</a>
        <br>
        <a class="link_footer" href="">سامانه تغذیه</a>
        <br>
        <a class="link_footer" href="">سامانه ملی کارآموزی</a>
        <br>
        <a class="link_footer" href="">سامانه آموزش مجازی</a>
      </div>
      <div class="col-lg-3 col-sm-12 line">
        <a href="" class="font_foter">دسترسی سریع</a>
        <hr>
        <a class="link_footer" href="">استعلام سوابق بیمه</a>
        <br>
        <a class="link_footer" href="">اطلاعیه وام دانشجویی</a>
        <br>
        <a class="link_footer" href="">برگزاری دوره آموزشی</a>
        <br>
        <a class="link_footer" href="">تقاضای معرفی به استاد</a>
        <br>
        <a class="link_footer" href="">برنامه امتحانات</a>
      </div>
      <div class="col-lg-3 col-sm-12 line">
        <a href="" class="font_foter">سایت های مرتبط</a>
        <hr>
        <a class="link_footer" href="">دانشگاه فنی و حرفه ای</a>
        <br>
        <a class="link_footer" href="">پایگاه اطلاع رسانی دولت</a>
        <br>
        <a class="link_footer" href="">وزارت صنعت،معدن،تجارت</a>
        <br>
        <a class="link_footer" href="">وزارت علوم،تحقیقات،فناوری</a>
        <br>
        <a class="link_footer" href="">میز خدمت</a>
      </div>
      <div class="col-lg-3 col-sm-12">
        <p class="font_foter">اطلاعات تماس</p>
        <hr>
        <p class="p_footer">نشانی:قم-شهرک قدس<br> ولیعصر13-کوچه هدایت 13</p>
        <p class="p_footer">کد پستی:1891862827</p>
        <p class="p_footer">تلفن:02532855375</p>
        <p class="p_footer">نمابر:02532855244</p>
      </div>
    </div>
  </div>
</section>
</body>
</html>